@page "/Index"
@inject IToastService toastService
@rendermode InteractiveServer
<PageTitle>Index</PageTitle>

Pagina de Ejemplo
<button @onclick="Saludar">Click</button>

@code {
    private void Saludar() =>toastService.ShowSuccess("Hola");

}
